.printButton{
    background-color: var(--base-color) !important;
    border: none !important;
}
.commonButton{
    border-radius: 10px !important;
    font-weight: 700 !important;
    font-size: 13px !important;
}
/* ----------------------------Balances Section -------------------------- */
.totalUSD{
    color: var(--text-gray-color);
}
.btcBadge{
    width: 53px;
    height: 26px;
    margin-top: 5px;
}
.badge{
    font-size: 15px !important;
    font-weight: 400 !important;
}
.totalBalanceContainer{
    background-color: white;
}
.withdrawBtn{
    background-color: var(--base-color) !important;
    border: none !important;
}

.depositBtn{
    background-color: white !important;
    border: 1px solid var(--gray-border-color) !important;
    color: black !important;
}
.exchangeAndAssets{
    border: var(--gray-border-color) 1px solid;
    border-radius: 12px;
    padding: 6px 0;
}
.exchangeAndAssets h6:first-of-type{
    font-size: 12px;
    color: var(--text-gray-color);
}
.exchangeAndAssets h6:nth-child(2){
font-size: 14px;
}
.exchangeAndAssets h6:last-of-type{
    font-size: 13px;
    color: var( --green-number-color);
}
.progressBarContainer p{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
    color: var(--text-gray-color);
}
/* ---------------------------- End Balances Section -------------------------- */

/* ---------------------------- Market Section -------------------------- */
.updateMarketBtn{
    background-color: var(--base-color) !important;
    border: none !important;
}
.updateMarketBtn:hover,.printButton:hover{
    background-color: rgba(131, 159, 180, 0.404) !important;
    color: var(--base-color) !important;
    border: 1px solid var(--base-color) !important;
}
.maketsContainer{
    background-color: white;
}
.maketsLink{
    color: var(--text-gray-color);
    padding-bottom: 10px;
}
.maketsLinkActive{
    color: var(--base-color);
    border-bottom: 3px solid var(--base-color);
    padding-bottom: 10px;
}
.currencyImg{
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
    background-color: var(--btc-orange-color);
}
.currencyName{
    color: var(--text-gray-color);
    text-decoration: underline;
}
table th:nth-child(2){
    border-right: 1px solid var(--gray-border-color);
    border-left: 1px solid var(--gray-border-color);
}
.tradebutton{
    background-color: var( --trade-btn-color) !important;
    color: white !important;
    margin-top: -3px;
 }
 .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 30px;
    font-size:1.2rem;
    gap: 5px;
 }
 .pagination .page-num,.pagination .next a:hover{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
 }
 .pagination .page-num:hover,.pagination .active,.pagination .next a:hover{
    border: 1px solid var(--base-color);
    color: var(--base-color)
 }
 .pagination a{
 color: black ;
 }
 /* ---------------------------- End Market Section -------------------------- */
 
/* ---------------------------- Converter Section -------------------------- */
.converterContainer,.paymentContainer{
    background-color: white;
    border-radius: 12px;
    padding: 10px;
}
.fromtext,.totext{
    font-weight: 700;
    color: var(--text-gray-color);
}
.converterContainer p ,.swap p{
    font-size: 13px;
    font-weight: 700;
}
.amountContainer{
background-color: rgba(220, 220, 220, 0.425);
border-radius: 10px;
}
.amountContainer>p{
    color: var(--text-gray-color);
    margin-bottom: 5px;
}
.amountContainer p:last-child{
    color: var(--btc-orange-color);
}
.questionicon{
    color: var(--text-gray-color);
}
.swap{
    border: 1px solid var(--gray-border-color);
    border-radius: 11px;
    min-height: 80px;
    padding: 3px 10px;
}
.swapImg{
    cursor: pointer;
    transition: 0.4s;
}
.swapImg:hover{
 background-color: var(--gray-border-color);
 border: 1px solid var(--base-color);
 transform: scale(1.04);
}
.divider{
    width: 90%;
    height: 1px;
    background-color: var(--gray-border-color);
    margin: 5px 0;
}
/* ---------------------------- End Converter Section -------------------------- */

/* ---------------------------- Payment Section -------------------------- */
.activeBuyAndSellBtn{
    background-color: var( --sidebar-hover-color) !important;
    color: var(--base-color) !important;
    border-color: var(--gray-border-color) !important;
}
.buyAndSellBtn{
    background-color: white !important;
    border: none !important;
    color: var(--text-gray-color) !important; 
}
.totalPament{
    color: var(--text-gray-color);
    padding: 19px 0;
}
/* ---------------------------- End Payment Section -------------------------- */

/* ---------------------------- select with search Section -------------------------- */
.showselect{
    display: block;
}
.hideselect{
    display: none;
}
/* ---------------------------- select with search Section -------------------------- */


