:root{
    --base-color:#3A9BFE;
    --base-nonactive-color:#93989A;

    --btn-bg-gray-color:#F7F6FE;
    --trade-btn-color:#1677FF;

    --search-navbar:#F7F7F7;
}

body{
    background-color:#F7F7F7;
}